*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
span{
	text-decoration: underline;
	color: blue;
}
ul{
	list-style-type: none;
}
img{
	width: 200px;
	height: 150px;
	margin: 10px;
}
img:hover {
	opacity: 0.5;
}
#litery{
	font-weight: 700;
	font-size: 60px;
}
.input-group{
	background-color: white;
	color: black;
	width: 600px;
}
.content{
	margin: 15px 0;
}
.certyfikat:hover img {
	width: 50%;
	height: 50%;
	opacity: 1;
}